
h1{
    color: rgb(46, 10, 10);
    padding: 1em;
    font-family: Verdana;
    font-weight: bold;
    font-size: 2.5em;
}
.bloc{
    background-color: rgba(0, 0, 0, 0.315);
    margin: 2em;
    padding: 2em;
    text-align: center;

}

.img_donjon, .img_final{
    height: 20em;
}
.img_minidonjon{
    height: 10em;
}
.img_monstre{
    height: 15em;
}

body{
    background-color: rgb(150, 124, 117);
}

.bouton_jouer, .bouton_regles, .bouton_retour{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 10px 20px 10px 20px ;
    font-size: 1.5em;
    color: rgb(191, 77, 77);
    background-color: rgb(243, 241, 163);
    border-radius: 0.5em;
    
}
.bouton_jouer:active, .bouton_regles:active, .bouton_retour:active{
    background-color: rgb(159, 113, 113);
    color: rgb(125, 125, 125);
}

.dep, .com, .bouton_menu{
    padding: 5px 10px 5px 10px ;
    font-size: 1em;
    background-color: rgb(171, 171, 171);
    color: rgb(20, 20, 20);
    border-radius: 0.5em;
}
.bouton_jouer:hover, .bouton_regles:hover, .bouton_retour:hover, .dep:hover, .com:hover,.bouton_menu:hover{
    color: rgb(255, 255, 255);
}
.dep:active, .com:active, .bouton_menu:active{
    background-color: rgb(255, 255, 255);
    color: rgb(88, 88, 88);
}
.bouton_menu{
    margin: 0.5em;
}
.haut{
    margin-top: 2em;
}
body{
    font-family: Verdana;
    font-size: 1em;
    color: rgb(45, 13, 13);
}
